
body{
    font-size: 2rem;
 
}

.seccion1{

    width: 70vw;
    height: 30vh;
    margin: 0 auto;
    padding: 1rem;
    margin-top:1rem;
    padding-bottom:0px;
}


.seccion2{

    width: 70vw;
    height: 30vh;
    margin: 0 auto;
    padding: 1rem;
    padding-top: 0px;
    margin-top: 1rem;

}

.seccion1__botones{

    display: flex;
    width:90%;
    margin: 0 auto;
    flex-direction: row;
    gap: .5rem;
    margin-top:2rem;
    justify-content: space-between;
}